.searchJobsContainer {
  width: 95%;
  height: 138px;
  margin: 0 auto;
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/backgroundImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.6rem;
}